body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #004d3b;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  flex-shrink: 0;
}

header .logo img {
  height: 60px; /* Ajusta el tamaño del logo */
}

header .titulo {
  flex-grow: 1;
  margin-left: 20px;
  text-align: left;
}

header .titulo h1 {
  margin: 0;
}

header .titulo p {
  margin: 0;
  font-size: 0.9em;
}

nav {
  background-color: transparent;
  padding: 0;
  text-align: right;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}
.huancavelica-hero {
  position: relative;
  background-image: url("images/portada.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.huancavelica-hero .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro translúcido */
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.huancavelica-hero h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

.huancavelica-hero p {
  font-size: 1.5em;
  max-width: 700px;
  margin: 0 auto;
}


main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background: white;
}

section {
  margin-bottom: 40px;
}

h2 {
  color: #004d3b;
}

img {
  max-width: 100%;
}
